
  <section class="shrinktabs">
    <div class="tab-content">
      <h3>WELCOME</h3>
      <p>Welcome to Tabletop Games! Tabletop Games is a 3D board and card game simulator. Play tabletop games online! Play against AI, friends, or the world! Fully animated!</p>
    </div>
  </section>

  </br>

  <section class="shrinktabs">
    <div class="tab-content">
      <h3>FEATURES</h3>
      <div>
        <ul>
          <li>Classic Games</br><p>Relive pre-Internet generations where you play board and card games with friends and family!</p></li>
          <li>Full 3D Gameplay</br><p>Enjoy games in stunning 3D!</p></li>
          <li>Online Gameplay</br><p>Play games against friends, family, and strangers alike!</p></li>
          <li>Track Wins & Losses</br><p>Keep a record of your wins and losses and show them off to your friends!</p></li>
        </ul>
      </div>
    </div>
  </section>

  </br>

  <section class="shrinktabs">
    <div class="tab-content">
      <h3>GAMES</h3>
      <p>Games currenting available:
        <ul>
          <li>War</br><p>Enjoy the classic card game War, now in 3D! Its simplicity makes picking up games fun and enjoyable for people of all ages.</p></li>
        </ul>
      </p>
    </div>
  </section>

  </br>

  <section class="shrinktabs">
    <div class="tab-content">
      <h3>UPCOMING</h3>
      <p>New games are always in the development for Tabletop! Upcoming games include:
        <ul>
          <li>Board Games</br><p>Tabletop is the perfect platform for board games such as chess, checkers, and more! Enjoy player vs player matches in full 3D with the introduction of Tabletop board games!</p></li>
          <li>Other</br><p>Expect new releases such as Connect Four, and even BRAND NEW games developed by the Tabletop team specifically for Tabletop!</p></li>
          <li>1</li>
          <li>1</li>
        </ul>
      </p>
    </div>
  </section>
