<section id="main">
  <section id="image">
      <div id="overlay"><img src="/images/mainPageLogo.png" id="mainPageLogo"></img></div>
  </section>
  <section class="mainRectangles">
    <div class="tab-content">
      <section id="welcomeInfo">
        <h1>Welcome to Tabletop Games!</h1>
        <br>
        <br>
        <br>
        <br>
        <p>Tabletop Games is a 3D board and card game simulator. Play against AI in a 3D environment!</p>
      </section>
      <img src="/images/boardandcard.png" class="welcomeIcons"></img>
    </div>
  </section>

  </br>

  <section class="mainRectanglesNoBack">
    <div class="tab-content">
        <div id="games">
          <h1>Features</h1>
          <p>Tabletop implements features such as:</p>
        </div>
        <br><br><br><br>
        <div id="features">
          <b>Classic Games</b></br><p>Relive pre-Internet generations where you play board and card games with friends and family!</p>
        </div>
        <div id="features">
        <b>Full 3D Gameplay</b></br><p>Enjoy games in stunning 3D! Complete with animations!</p>
        </div>
        <div id="features">
          <b>Track Wins & Losses</b></br><p>Keep a record of your wins and losses and show them off to your friends!</p>
        </div>
    </div>
  </section>

  </br>

  <section class="mainRectangles">
    <div class="tab-content">
      <div id="games">
        <h3>GAMES</h3>
        <p>Games currenting available:</p>
      </div>
      <div id="games">
        <div id="availableGames">
          <b>War</b>
          <hr>
          </br><p>Enjoy the classic card game War, now in 3D! Its simplicity makes picking up games fun and enjoyable for people of all ages.</p>
        </div>
      </div>
    </div>
  </section>

  </br>

  <section class="mainRectanglesNoBack">
    <div class="tab-content">
      <div id="games">
        <h3>UPCOMING</h3>
        <p>New games are always in the development for Tabletop! Upcoming games include:</p>
      </div>
      <br><br><br>
      <div id="features">
          Multiplayer<br>Be able to play online with friends and strangers!
      </div>
      <div id="features">
          Board Games</br><p>Tabletop is the perfect platform for board games such as chess, checkers, and more! Enjoy matches in full 3D with the introduction of Tabletop board games!</p>
      </div>
      <div id="features">
          Other</br><p>Expect new releases such as Connect Four, and even BRAND NEW games developed by the Tabletop team specifically for Tabletop!</p>
      </div>
    </div>
  </section>
</section>
