<section class="shrinktabs">
  <ul class="nav nav-tabs">
    <li><a data-toggle="tab" href="#login"><img src="images/login.png" alt="login" class="icons"></img>Login</a></li>
    <li class="active"><a data-toggle="tab" href="#register"><img src="images/register.ico" alt="register" class="icons"></img>Register</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <form>
        <input type="text" placeholder="Email" required>
        <input type="text" placeholder="Username" required>
        <input type="text" placeholder="Password" required>
        <input type="text" placeholder="Retype password" required>
        <input type="submit" value="Register">
      </form>
    </div>
  </div>
</section>
