body, html {
  width: 100%;
  margin: 0;
  background-color: #f0f0f5;
}

#score{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.navbar {
  margin: 0;
  padding: 0;
  border-radius: 0;
  background-color: #373737;
}

section.shrinktabs {
  background-color: white;
  width: 30%;
  overflow: hidden;
  border: 1px solid lightgrey;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  border-radius: 5px;
  font-family: 'Josefin Sans', sans-serif;
}

ul.nav-tabs > li {
  width: 50%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

ul.nav-tabs {
  margin: 0;
}

.tab-content {
  height: 100%;
  padding: 10px;
}

img.icons {
  width: 20px;
  height: 20px;
  margin: 10px 10px;
}

input {
  width: 100%;
  margin: 10px 0px;
  border-radius: 2px;
  border: 1px solid lightgrey;
  height: 50px;
  padding: 10px;
}

input[type="text"]:focus {
  box-shadow: 1px 1px 5px lightblue;
}

input[type="submit"] {
  border: 1;
  border-radius: 5px;
}

input[type="submit"]:hover {
  background-color: lightblue;
}

div.well {
  box-shadow: 5px 5px 5px lightblue;
}

.war_button {
  margin-top: 10px;
  margin-bottom:10px;
  display: inline-block;
  white-space: nowrap;
  position:relative;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius:10px;
}

.war_button_about {
  background: url(/images/war_title.png) 3px 5px no-repeat;
  padding-left: 870px;
  padding-top: 260px;
}

.tictactoe_button_about {
  background: url(/images/tic-tac-toe.gif) 3px 5px no-repeat;
  background-size: 100% 100%;
  padding-left: 870px;
  padding-top: 260px;
  width: 60%;
}

.war_button_blue {
  border: 5px solid #000000;
  color: #FBFBFB;
}
.war_button_blue:hover {
  opacity:0.5;
  filter:alpha(opacity=90);
}

section#playArea {
  overflow: hidden;
}

section#main {
  font-family: 'Macondo', cursive;
  font-size: 150%;
  background-color: #F4F4F4;
}

section#image {
  width: 100%;
  height: 700px;
  background: url(/images/TabletopHD_Resize.png);
  background-repeat: repeat;
}

section.mainRectangles {
  width: 100%;
  background-color: #C0B283;
  height: 500px;
}

section.mainRectanglesNoBack {
  width: 100%;
  height: 500px;
}

#games {
  text-align: center;
}

#score {
  color: white;
  position: absolute;
  font-size: 200%;
  font-weight: bold;
}

img.welcomeIcons {
  display: inline-block;
  width: 400px;
  float: left;
  position: relative;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}

section#welcomeInfo {
  display: inline-block;
  text-align: center;
  width: 40%;
  position: relative;
  top: 45%;
  left: 40%;
  transform: translate(-50%, -50%);
}

div#overlay {
  background: rgba(0,0,0, 0.7);
  width: 100%;
  height: 700px;
}

img.logo {
  width: 75px;
}

img#mainPageLogo {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
